/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 63px 70px;
}

@media (max-width: 991px) {
    .footer {
        max-width: 100%;
        padding: 0 20px;
    }
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 991px) {
    .footer-container {
        max-width: 100%;
    }
}

.footer-logo {
    aspect-ratio: 3.38;
    object-fit: contain;
    object-position: center;
    width: 162px;
    align-self: stretch;
    flex-shrink: 0;
    margin: auto 0;
}

.footer-contact {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    justify-content: start;
    margin: auto 0;
    font: 400 16px/1 Nunito, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .footer-contact {
        white-space: initial;
    }
}

.contact-icon {
    aspect-ratio: 1.44;
    object-fit: contain;
    object-position: center;
    width: 23px;
    align-self: stretch;
    flex-shrink: 0;
    margin: auto 0;
}

.contact-email {
    align-self: stretch;
    margin: auto 0;
}

.footer-social {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    width: 102px;
    margin: auto 0;
}

.social-icon {
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    flex-shrink: 0;
    margin: auto 0;
}

.social-icon:nth-child(1) {
    aspect-ratio: 1;
    width: 18px;
}

.social-icon:nth-child(2) {
    aspect-ratio: 1.29;
    width: 18px;
}

.social-icon:nth-child(3) {
    aspect-ratio: 0.94;
    width: 17px;
}

/* Footer Info */
.footer-info {
    align-self: center;
    display: flex;
    margin-top: 15px;
    width: 1200px;
    max-width: 100%;
    align-items: stretch;
    gap: 40px 100px;
    font-weight: 400;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-address {
    color: rgba(0, 0, 0, 1);
    width: 419px;
    font: 11px/17px Outfit, -apple-system, Roboto, Helvetica, sans-serif;
}

.footer-credits {
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgba(154, 154, 154, 1);
    justify-content: start;
    margin: auto 0;
    font: 14px/24px Nunito, -apple-system, Roboto, Helvetica, sans-serif;
}

.credits-text {
    align-self: stretch;
    margin: auto 0;
}

.credits-logo {
    aspect-ratio: 5.71;
    object-fit: contain;
    object-position: center;
    width: 57px;
    align-self: stretch;
    flex-shrink: 0;
    margin: auto 0;
}